* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: #FFF;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 1140px / 2);
    padding-right: calc(50% - 1140px / 2);
}

.header {
    background-color: #222222;
    padding-top: 18px;
    padding-bottom: 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 44px;
    align-items: center;
    padding-left: 16px;
}

.header__nav {
    display: flex;
    gap: 25px;
    align-items: flex-end;
    padding-right: 16px;
}

.hero {
    background-color: #F1E4E6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero__center {
    padding-left: calc(50% - 1600px / 2);
    padding-right: calc(50% - 1600px / 2);
}

.hero__image {
    width: 50%;
}

.hero__brand {
    width: calc(50% - 100px);
    color: #222;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-left: 63px;
}

.hero__brand>h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero__brand>h2 {
    font-size: 32px;
    font-weight: 700;
}

.hero__brand__accent {
    color: #F16D7F;
}

.offers {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    justify-content: center;
    gap: 30px;
}

.offer__for__women {
    background-image: url(../img/offer/for_women.png);
}

.offer__for__men {
    background-image: url(../img/offer/for_men.png);
}

.offer__for__kids {
    background-image: url(../img/offer/for_kids.png);
}

.offer__accesories {
    background-image: url(../img/offer/accesories.png);
}

.offer__background {
    width: 100%;
    height: 100%;
    background: rgba(33, 22, 22, 0.70);
    display: flex;
}

.offer {
    text-align: center;
    margin: auto;
}

.offer>h3 {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.offer>h4 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.accesories {
    grid-column: 1 / 4;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
}

.products__header {
    text-align: center;
    padding-bottom: 48px;
}

.products__header>h3 {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
}

.products__header>p {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}

.product {
    background-color: #F8F8F8;
}

.title__and__price {
    padding: 16px 24px;
}

.product__title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.title__and__price>p {
    padding: 16px 0px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}

.product__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.products__footer {
    padding-top: 48px;
    padding-bottom: 95px;
    text-align: center;
}

.all__product__button {
    border: solid 1px;
    color: #FF6A6A;
    background-color: #FFF;
    padding: 15px 39px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.all__product__button:hover {
    background-color: #FF6A6A;
    color: #FFF;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    padding: 104px 0px;
    background-color: #222224;
    color: #FBFBFB;
}

.feature {
    width: 360px;
    text-align: center;
}

.feature>h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 16px;
}

.feature>p {
    font-size: 14px;
    font-weight: 300;
}

.subscribe__background {
    background-image: url(../img/subscribe/photo_subscribe.png);
    background-size: cover;
    background-position: center;
}

.subscribe {
    background: rgba(244, 244, 244, 0.7);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #222224;
}

.subscribe__info {
    width: 359px;
    height: 225px;
    text-align: center;
    margin-top: 97px;
    margin-bottom: 126px;
}

.subscribe__info>img {
    border-radius: 96px;
    margin-bottom: 16px;
}

.subscribe__info>p {
    font-size: 20px;
    font-weight: 400;
}

.subscribe__us {
    text-align: center;
}

.subscribe__us>h3 {
    font-size: 24px;
    font-weight: 700;
}

.subscribe__us>h4 {
    font-size: 18px;
    font-weight: 400;
}

.subscribe__us__form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.subscribe__email {
    width: 256px;
    height: 49px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: #E1E1E1;
    padding: 0 0 0 22px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}


.subscribe__button {
    width: 100px;
    height: 49px;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: #F16D7F;
    padding: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
}

.footer {
    background-color: #222224;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
}

.social {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 24px;
    margin-bottom: 23px;
}

.social_item {
    background-color: #FFFFFF;
}

.social_item:hover {
    background-color: #F16D7F;
}

.social_item>img {
    height: 16px;
    width: 16px;
    margin: 8px;
}

@media (max-width: 1140px) {
    .center {
        padding-left: calc(50% - 736px / 2);
        padding-right: calc(50% - 736px / 2);
    }

    .hero__center {
        padding-left: calc(50% - 768px / 2);
        padding-right: calc(50% - 768px / 2);
    }

    .hero__brand {
        width: calc(50% - 67px);
        margin-left: 39px;
    }

    .hero__brand>h1 {
        font-size: 44px;
    }

    .hero__brand>h2 {
        font-size: 24px;
    }

    .offers {
        grid-template-columns: repeat(3, 232px);
        grid-template-rows: 168px 116px;
        gap: 19px;
        padding-bottom: 73px;
    }

    .products {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }

    .products__footer {
        padding-top: 32px;
        padding-bottom: 64px;
    }

    .features {
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .subscribe {
        justify-content: center;
    }

    .subscribe__info {
        margin-top: 54px;
        margin-bottom: 48px;
    }

    .subscribe__us__form {
        padding-top: 27px;
        padding-bottom: 140px;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }

    .hero__center {
        padding-left: calc(50% - 375px / 2);
        padding-right: calc(50% - 375px / 2);
    }


    .header__person {
        display: none;
    }

    .header_basket {
        display: none;
    }

    .hero__image {
        display: none;
    }

    .hero__brand {
        text-align: center;
        margin: 148px auto;
        min-width: 250px;
    }

    .hero__brand>h1 {
        font-size: 38px;
    }

    .hero__brand>h2 {
        font-size: 20px;
    }

    .offers {
        grid-template-columns: 360px;
        grid-template-rows: 247px 247px 247px 111px;
        gap: 32px;
        padding-bottom: 64px;
    }

    .accesories {
        grid-column: 1;
    }

    .products {
        grid-template-columns: 360px;
        gap: 16px;
    }

    .products__header {
        padding-bottom: 64px;
    }

    .products__footer {
        padding-top: 40px;
        padding-bottom: 96px;
    }

    .subscribe__info>p {
        font-size: 18px;
    }

    .subscribe__us>h4 {
        font-size: 14px;
    }

    .subscribe__email {
        width: 224px;
    }

    .subscribe__us__form {
        padding-top: 22px;
        padding-bottom: 109px;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .social {
        margin-top: 43px;
        margin-bottom: 40px;
    }

    .copyright {
        padding-bottom: 9px;
    }
}